.loadMoreBtn {
  display: block;
  margin: auto;
  background-color: mediumslateblue;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  margin-bottom: 24px;
  color: white;
  transition: background-color 250ms linear;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  background-color: rgb(84, 65, 196);
}
